---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Trusted by Communities and Web3 companies all over the world
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Qoneqt.jpg" alt="Qoneqt" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Router Protocol.jpg" alt="Router Protocol" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/BharatBox.jpg" alt="BharatBox" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Cubane.jpg" alt="Cubane" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/MOI.jpg" alt="MOI" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Inco Network.jpg" alt="Inco Network" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/The Graph Protocol.jpg" alt="Graph Protocol" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Stellar.jpg" alt="Stellar" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Aleph Zero India.jpg" alt="Aleph Zero India" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/ICP India.jpg" alt="ICP" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Pro Peers.jpg" alt="Pro Peers" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <!-- Community Partners -->
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Accumulate.jpg" alt="Accumulate" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Catoff_Gaming.png" alt="Catoff Gaming" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/USDT Marketplace.png" alt="USDT Marketplace" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/ActualOne.png" alt="Actual One" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Wizz.png" alt="Wizz" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Ethera.png" alt="Ethera" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Web3 Kerala.png" alt="Web3 Kerala" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/0x Kanpur DAO.jpeg" alt="0x Kanpur DAO" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Threeway Studio.png" alt="Threeway Studio" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Decentralized_Guild.png" alt="Decentralized Guild" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Bhopal_DAO.png" alt="Bhopal DAO" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Odisha_DAO.png" alt="Odisha DAO" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Hyderabad_DAO.png" alt="Hyderabad DAO" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Delhi_NCR_DAO.png" alt="Delhi NCR DAO" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Web3_Aligarh.jpg" alt="Web3 Aligarh" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Builder Base.png" alt="The Builder Base" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Raindrops_DAO.png" alt="Raindrops DAO" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/Axle_Gaming.png" alt="Axle Gaming" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/247pm_Studio.jpg" alt="247 pm Studio" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-2 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/assets/images/partners/WalletX.png" alt="Wallet X" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <script>
            document.querySelectorAll('img').forEach(img => {
                if (img.alt && !img.title) {
                    img.title = img.alt;
                }
            });
            </script>
        </div>
    </Container>
</section>