---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import FAQ from "../components/sections/FAQ.astro";
import Testimonial from "../components/sections/Testimonial.astro";
import ImageGallery from "../components/sections/ImageGallery.astro";
import Map from "../components/sections/Map.astro";
import Team from "../components/sections/Team.astro";
---

<Layout title="Welcome to ConnectVerse">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Brands/>
		<Services/>
		<ImageGallery/>
		<AboutUs/>
		<Features/>
		<Testimonial/>
		<Map/>
		<CTA/>
		<FAQ/>
		<Team/>
	</main>
</Layout>